@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Clínica en la Nube prueba historica</h1>
    <p>Bienvenido, elige una opción:</p>

    <p>
        <a asp-controller="Pacientes" asp-action="Index" class="btn btn-primary">Gestionar Pacientes</a>
    </p>
    <p>
        <a asp-controller="Citas" asp-action="Index" class="btn btn-secondary">Gestionar Citas</a>
    </p>
    <p>
        <a asp-controller="HistorialMedico" asp-action="Index" class="btn btn-info">Ver Historial Médico</a>
    </p>
</div>
